<div class="p-2">
  <%= form_for(@inquiry, url: { controller: :inquiry, action: :confirm }, html: { method: :post }) do |f| %>
    <div class="form-group">
      <%= f.label :name,
                  'お名前' %>
      <%= f.text_field :name,
                       :placeholder => 'お名前',
                       :class => 'form-control' %>
    </div>
    <div class="form-group">
      <%= f.label :email,
                  'メールアドレス' %>
      <%= f.email_field :email,
                        :placeholder => 'email',
                        :class => 'form-control' %>
    </div>
    <div class="form-group">
      <%= f.label :inquiry_kind_id,
                  'お問い合わせ種類' %>
      <%= f.select :inquiry_kind_id,
                   @inquiry_kinds,
                   { prompt: '未設定' },
                   { class: "form-control"} %>
    </div>
    <div class="form-group">
      <%= f.label :detail,
                  'お問い合わせ内容' %>
      <%= f.text_area :detail,
                      :class => 'form-control' %>
    </div>
    <%= f.submit '確認', :class => 'btn btn-primary' %>
  <% end %>
</div>
